// ==============================
// Override Variables
// 覆盖变量
// ==============================

$index-article-image-padding: 30% 0 0;
$index-article-image-size: 128px;
$index-article-margin: 2rem 0 0 0;
$index-article-border-width: 1px;
$index-article-border-style: none none dashed none; //top right bottom left
